.db-card {
   background-color: var(--color-text-light);
   border: 1px solid var(--border-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: var(--border-radius-big);

   &-product {
      height: 283px;
      width: 100%;

      
      @media (max-width: 450px) {
         border-radius: 0px 0px var(--border-radius-medium) var(--border-radius-medium);
      }
   }

   &-options {
      position: absolute;
      margin-top: 5px;
      border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
      z-index: 1;
   }

   @media (max-width: 768px) {
      &-product {
         height: fit-content;
         width: 100%;
      }
   }


   
   @media (min-width: 768px) {
      width: 100% !important;
   }
}