.db-loading-page {
   position: fixed;
   z-index: 99999;
   inset: 0;
   background: white;
   display: flex;
   justify-content: center;

   img {
      object-fit: contain;
      width: 80%;
   }
}