
.db-header-buttons {
    display: flex;
    align-items: flex-end;
    .db-button {
        @media (max-width: 1040px) {
            width: 164px;
        }
        @media (max-width: 450px) {
            display: none;
        }
    }
}