.db-side-panel {
   position: fixed;
   width: 100%;
   inset: 0;
   height: 100vh;
   background-color: var(--color-text-light);
   translate: 100%;

   &-footer {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 5px 10px;

      a {
         margin-left: 8px;

         svg path {
            fill: var(--color-tertiary);
         }
      }
   }

   &-header {
      padding: 10px 0 0 5px;
      height: 175px;
      background-color: var(--color-primary);
      color: var(--color-text-light);

      h2 {
         position: absolute;
         right: 10px;
         top: 150px;
      }

      svg path {
         fill: var(--color-text-light);
      }
   }

   &-options {
      &-item {
         font-family: 'Roboto Bold';
         font-weight: var(--font-weight-bold);
         font-size: var(--font-size-medium);
         line-height: 19px;
         margin: 16px;
         text-align: right;
         padding-bottom: 16px;
         border-bottom: 1px solid var(--color-tertiary);
         color: var(--color-secondary);

         &:hover {
            cursor: pointer;
         }
      }

      a:last-child {
         .db-side-panel-options-item {
            border-bottom: none;
         }
      }
   }
}