.db-header {

    &-container {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: var(--color-text-light);
        padding: 0 40px;
    }

    &-items{
        display: flex;
        align-items: flex-end;
    }

    .db-logo{
        margin-top: 10px;
    }
    .db-button-primary-outlined{
        margin-left: 10px;
    }

    @media (min-width: 768px) {
        display: flex;
        gap: 1rem
    }

}

Header {
    position: sticky;
    top: 0;
    z-index: 2;
}